*{
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
}

:root{
    --bg-color:#232323;
    --txt-color:#fff;
    --txt-size:10px;
}

body{
    margin: calc(var(--txt-size) * 5) ;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

a {
    text-transform: lowercase;
    text-decoration: none;
    color: crimson;
}