/* 
    Created by: Issac Corona
    Datetime: 19-May-2022 11:13 PM
*/


/* 
================================================================
    1.- General
    2.- Body
    3.- Creación del div
    4.- Creación del Navbar
    5.- Estilos tabla de Dashboard
        5.1.- Principal: El menu informativo más grande.
        5.2.- Aplicaciones: Todos los contenedores de apps.
    6.- Estilo del menu expandible
    7.- Hover y Animaciones
*/


*{
    font-size: 10px;
    background-color: #E5E5E5;
}

body{
    margin: 0;
    top: 0;
    left: 0;
}

/* ========== 3.- Creacion del div ==========*/
.container-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(80px, auto);
    /* gap: 1rem; */
}

/* ========== 4.- Creación del Navbar ==========*/
.header{
    grid-column: 1;
    grid-row: 1;

    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: left;

    width: auto;
    align-items: center;
    background-color: #080E2D;
}
.header > img {
    margin-top: 0;
    background: inherit;
    height: 3rem;
}
.header > h1 {
    margin-left: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 3rem;
    background-color: inherit;
}

.Dashboard{
    background-color: rgb(202, 202, 202);
}



/* ========== 5.- Estilos tabla de Dashboard ==========*/

.Dashboard{
    width: auto;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(10, 10rem);
    grid-auto-rows: minmax(100px, 100px);
    justify-content: center;
}

/* ========= 5.1.- Principal: El menu informativo más grande. =======  */

#Principal{
    background-color: #030822;
    grid-column: 1 / 6;
    grid-row: 1 / 3;

    display: block;
    padding: 2rem;
    box-shadow: 3px 3px 10px black;
}
#Principal > h2 {

    /*  Posiciones */
    top: 0;
    left: 0;
    margin-top: 0;

    /* Estilos */
    color: #fff;
    font-size: 2.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: inherit;
}

#Principal > p {
    
    /*  Posiciones */
    top: 0;
    left: 0;
    margin-top: 0;
    padding: 1rem;

    /* Estilos */
    color: #fff;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: inherit;
}
#Principal > i {
    color: #fff;
    font-size: 5rem;
    background-color: inherit;
}

#Principal > #icon-house{
    margin-left: 3rem;
}

#Principal > #icon-question{
    font-size: 3rem;
    margin-left: 60%;
}


/* ========= 5.2.- Aplicaciones: Todos los contenedores de apps. ========= */

.apps{
    display: block;
    position: relative;
    /* justify-content: center; Para centraer horizontal */
    /* align-items: center; Para centrar vertical */
    padding: 1rem;
    transition: all 250ms ease-in-out;
    /* box-shadow: 0.3px 0.3px 1px black; */
}
.apps > i{
    color: black;
    font-size: 5rem;
    text-align: center;
    background: none;
    background-color: inherit;
    width: calc(100% - 0.5rem);
}
.apps > h3{
    text-align: center;
    background-color: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ========= Aplicaciones individuales ========= */

#app1 > i{
    color: orangered;
}
#app2 > i {
    color: blue;
}

/* ========= 6.- Estilo del menu expandible ======== */
.data-info{
    visibility: hidden;
    min-width: 150px;
    width: auto;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;

    /* border: 3px solid #01426b; */
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

    top: -5rem;
    left: 9rem;
    z-index: 2;
    padding: 1rem;
    background-color: #5364f6;
}

.data-info > p{
    width: 100%;
    height: auto;

    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;

    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    
    background-color: transparent;
    text-shadow: 1px 0px 5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*  ========= 7.- Hover y Animaciones ========= */
@media (hover:hover){

    .apps:hover{
        cursor: pointer;
        background-color: rgb(179, 179, 179);
        border-radius: 15px;
        animation: pop;
        animation-duration: 400ms;
        animation-fill-mode: forwards;
        z-index: 1;
    }

    @keyframes pop {
        0%{
            transform: scale(1);
        }
        20%, 23%{
            transform: scale(0.85);
        }
        100%{
            transform: scale(1.2);
            box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.582);
        }
    }

    .apps:hover > .data-info{
        animation: pop-show;
        animation-duration: 500ms;
        animation-delay: 100ms;
        animation-fill-mode: forwards;
    }

    @keyframes pop-show{
        from{
            top: 0;
            left: 0;
            transform: scale(0);
            visibility: hidden;
        }   
        to{
            top: -5rem;
            left: 9rem;
            transform: scale(1);
            visibility: visible;
        } 
    }
    
}


